@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;
}
canvas{
  height: 800px;
  width: 1200px;
  border: 2px solid blue;
}
.health{
  float: right;
  height: 100px;
  width: 100px;
  background-color: green;
  text-align: center;
  h3{
    font-size: 20px;
    margin: 0;
    margin-top: 19px;
  }
  .healthMon{
    font-size: 24px;
    margin-top: 10px;
  }
}

.score{
  float: right;
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
    
}


.show{
  display: block;
}
.flash{
  background-color: red;
}
